.header img{
    height: 150px;
    width: 400px;
  
}
.header{
    text-align: center;
}

.header nav{
    background-color:goldenrod;
    line-height: 40px;
    font-weight: bold;
  
}
nav a{
    text-decoration: none;
    color: white;
    margin: 30px;   
   
}

nav a:hover{
    background-color:lightseagreen;
}